$duration: 1s;
$button-height: 100%;
$border-color: #fff;
$button-width: 50%;
$size-radius: 0;

.wrapper {
  margin: 14.2rem auto 0;
  width: 111rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  padding: 5.4rem;
  position: relative;
  top: -0.3rem;
  z-index: 1;

  @media screen and (max-width: 520px) {
    padding: 0;
    top: 0;
    width: calc(100% - 32px);
    margin: 60px 16px 20px;
    background: transparent;
  }
}

.desc {
  max-width: 97rem;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 520px) {
    width: 100%;
    font-size: 16px;
    padding: 72px 24px;
  }
}

.link {
  padding: 1.4rem 9.2rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #7948df 0%, #9b4ad2 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out background;
  z-index: 1;

  &:hover {
    background: linear-gradient(90deg, #7948df 0%, #9b4ad2 100%);
  }

  &:focus {
    background: #6645aa;
  }

  @media screen and (max-width: 520px) {
    padding: 14px 98px;
    color: #fff;
    font-size: 18px;
    bottom: -28px;
    border-radius: 5px;
  }
}

@mixin sub-button {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
}

@mixin border-radius($size-radius, $sideH) {
  @if $sideH != 'all' {
    -webkit-border-top-#{$sideH}-radius: $size-radius;
    -moz-border-top-#{$sideH}-radius: $size-radius;
    border-top-#{$sideH}-radius: $size-radius;
    -webkit-border-bottom-#{$sideH}-radius: $size-radius;
    -moz-border-bottom-#{$sideH}-radius: $size-radius;
    border-bottom-#{$sideH}-radius: $size-radius;
  } @else if $sideH == 'all' {
    -webkit-border-radius: $size-radius;
    -moz-border-radius: $size-radius;
    border-radius: $size-radius;
  }
}

.wrapperActive {
  position: relative;
}

.wrapperActive .btn:before,
.wrapperActive .btn:after {
  opacity: 1;
  -webkit-animation: open $duration;
  /* Chrome, Safari, Opera */
  animation: open $duration;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}

.wrapperActive .btnBottom:before,
.wrapperActive .btnBottom:after {
  opacity: 1;
  -webkit-animation: openB $duration;
  /* Chrome, Safari, Opera */
  animation: openB $duration;
  animation-delay: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}

.btn {
  width: 100%;
  height: $button-height;
  position: absolute;
  top: -1px;

  &:before {
    @include sub-button;
    border-top: solid 0.5rem $border-color;
    border-left: solid 0.5rem $border-color;
    right: 50%;

    @media screen and (max-width: 520px) {
      border-top: solid 5px $border-color;
      border-left: solid 5px $border-color;
    }
  }
  &:after {
    @include sub-button;
    border-top: solid 0.5rem $border-color;
    border-right: solid 0.5rem $border-color;
    left: 50%;

    @media screen and (max-width: 520px) {
      border-top: solid 5px $border-color;
      border-right: solid 5px $border-color;
    }
  }
}

.btnBottom {
  width: 100%;
  height: $button-height;
  position: absolute;

  &:before {
    @include sub-button;
    height: $button-height;
    border-bottom: solid 0.5rem $border-color;
    right: 0;

    @media screen and (max-width: 520px) {
      border-bottom: solid 5px $border-color;
      bottom: -4px;
    }
  }

  &:after {
    @include sub-button;
    height: $button-height;
    border-bottom: solid 0.5rem $border-color;
    left: 0;

    @media screen and (max-width: 520px) {
      bottom: -4px;
      border-bottom: solid 5px $border-color;
    }
  }
}

@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: $button-width;
    height: 0;
  }
  100% {
    width: $button-width;
    height: $button-height;
  }
}

@keyframes openB {
  0% {
    width: 0px;
  }
  100% {
    width: $button-width;
  }
}

.wrapperActive::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 14.2rem;
  left: 76.5rem;
  top: 14.2rem;
  background: #fff;
  animation: lineHeight 2.5s ease-in-out;

  @media screen and (max-width: 520px) {
    width: 5px;
    height: 66px;
    left: 64px;
    top: auto;
    bottom: -68px;
  }
}

@keyframes lineHeight {
  0% {
    height: 0;
  }

  70% {
    height: 0;
  }

  100% {
    height: 14.2rem;
  }
}

@keyframes lineHeightMobile {
  0% {
    height: 0;
  }

  70% {
    height: 0;
  }

  100% {
    height: 66px;
  }
}
