.subtitle {
	font-size: 3rem;
	margin: 0 0 3rem;
	line-height: 3.6rem;
	font-weight: 400;
	text-align: left;
	color: #000000;

	@media screen and (max-width: 768px) {
		font-size: 30px;
		margin: 0 0 30px;
		line-height: 36px;
	}

	@media screen and (max-width: 480px) {
		font-size: 25px;
		margin: 0 0 20px;
		line-height: 30px;
	}
}
