.wrapper {
padding: 5.2rem 20rem 4.2rem 4rem;
display: grid;
grid-template-columns: 4.2rem 1fr;
gap: 2rem;
margin: 0 0 10rem;
border-radius: 1.6rem;
background: #F1F4FF;
color: #000;

@media screen and (max-width: 1024px) {
	padding: 5.2rem 5.2rem 4.2rem 4rem;
}

@media screen and (max-width: 768px) {
	padding: 52px 50px 40px 40px;
	grid-template-columns: 42px 1fr;
	margin: 0 0 50px;
gap: 20px;
border-radius: 16px;
}

@media screen and (max-width: 480px) {
	padding: 30px 40px;
	grid-template-columns: 1fr;
	gap: 16px;
	margin: 0 0 30px;
}
}

.quote {
	width: 4.2rem;
	height: 2.8rem;
	background-size: contain;
	background: url('/main/benefits/dots.svg') no-repeat center;
	background-size: contain;
	margin: 0.5rem 0 0;

	@media screen and (max-width: 768px) {
		margin: 0;
		width: 42px;
	height: 28px;
	}
}

.text {
margin: 0 0 5rem;
font-weight: 400;
font-size: 3rem;
line-height: 3.8rem;
letter-spacing: 0.02em;
text-align: left;

@media screen and (max-width: 768px) {
	font-size: 26px;
line-height: 36px;
margin: 0 0 50px;
}

@media screen and (max-width: 480px) {
font-size: 18px;
line-height: 24px;
}
}

.footer {
	display: grid;
	grid-template-columns: 8.6rem 1fr;
gap: 2.2rem;
align-items: center;

@media screen and (max-width: 768px) {
	grid-template-columns: 86px 1fr;
	gap: 22px;
}

@media screen and (max-width: 480px) {
	grid-template-columns: 1fr;
	gap: 16px;
}
}

.image {
	width: 8.6rem;
	height: 8.6rem;

	@media screen and (max-width: 768px) {
		width: 86px;
	height: 86px;
	}
}

.author {
margin: 0;
font-size: 2rem;
line-height: 3.2rem;
font-weight: 400;
text-align: left;

@media screen and (max-width: 768px) {
		font-size: 20px;
line-height: 32px;
	}

}


.authoDesc {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2rem;
	text-align: left;

	@media screen and (max-width: 768px) {
		font-size: 16px;
line-height: 20px;
	}
}

.wrapper.wrapperBlue {
	background: linear-gradient(208.78deg, #90BAFF 3.64%, #5C8EE0 84.35%);
	color: #FFFFFF;


	.quote  {
		background: url('/statya/dots-blue.svg') no-repeat center;
		background-size: contain;
	}
}
