.authorWrapper {
	width: 100%;

	@media screen and (max-width: 1024px) {
		display: flex;
		gap: 1.8rem;
		align-items: center;
	}

	@media screen and (max-width: 768px) {
		gap: 18px;
	}

	@media screen and (max-width: 480px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.contentWrapper {
	display: grid;
	grid-template-columns: 5.4rem 1fr;
	gap: 0.7rem;
	margin-top: 1rem;

	@media screen and (max-width: 768px) {
		grid-template-columns: 54px 1fr;
		gap: 7px;
		margin-top: 0;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.quotes {
	width: 100%;
	height: 4.3rem;
	background: url('/quote/quotes-icon.svg') no-repeat center;
	background-size: contain;

	@media screen and (max-width: 768px) {
		height: 43px;
	}

	@media screen and (max-width: 480px) {
		width: 54px;
	}
}

.imageWrapper {
	position: relative;
	padding: 0.9rem;
	width: fit-content;


	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: url('/quote/figure.svg') no-repeat center;
		background-size: contain;
		width: 100%;
		height: 100%;

	}


	@media screen and (max-width: 768px) {
		padding: 10px;
	}
}

.image {
height: 17.4rem;
width: 17.4rem;
object-fit: contain;

@media screen and (max-width: 768px) {
	height: 174px;
	width: 174px;
}
}

.author {
	display: block;
	text-transform: uppercase;
margin: 0 0 1.8rem;
line-height: 2.9rem;
font-size: 2.1rem;
font-weight: 700;
text-align: left;
position: relative;
max-width: 16.4rem;

@media screen and (max-width: 1024px) {
	margin: 0 0 1.8rem;
}

@media screen and (max-width: 768px) {
	margin: 0 0  18px;
line-height: 29px;
font-size: 21px;
max-width: 164px;
}

@media screen and (max-width: 480px) {
	max-width: 100%;
}
}

.authorDescWrapper {
	margin: 2rem 0 0;
	column-gap: 1.2rem;
	grid-template-columns: 1.6rem 1fr;
display: grid;
align-items: flex-start;

@media screen and (max-width: 768px) {
	margin: 0;
	column-gap: 12px;
	grid-template-columns: 16px 1fr;
}

&::before{
	content: '\2014';
	line-height: 2.9rem;
font-size: 2.1rem;
font-weight: 400;
	position: relative;

	@media screen and (max-width: 768px) {
		line-height: 29px;
font-size: 21px;
	}
}
}

.authorDesc {
	display: block;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 400;
	text-align: left;

	@media screen and (max-width: 768px) {
		font-size: 14px;
		line-height: 20px;
	}
}


.desc {
	font-size: 2.6rem;
	line-height: 3.8rem;
	margin: 0;
	font-weight: 500;
	text-align: left;
	margin-top: 1.4rem;

	@media screen and (max-width: 768px) {
		font-size: 26px;
		line-height: 38px;
		margin-top: 14px;
	}

	@media screen and (max-width: 480px) {
		font-size: 18px;
		line-height: 28px;
		margin-top: 0;
	}
}
