.title {
max-width: 77rem;
margin: 0 0 5rem;

@media screen and (max-width: 768px) {
	max-width: 100%;
	margin: 0 0 50px;
}
}

.desc {
margin: 6.6rem 0 0;
font-size: 1.6rem;
line-height: 2.1rem;
font-weight: 400;
color: #000000;

opacity: 0.6;

@media screen and (max-width: 768px) {
	margin: 44px 0 0;
	font-size: 16px;
line-height: 21px;
}
}

.list {
	list-style-type: none;
	padding: 0;
margin: 0;
display: grid;
grid-template-columns: 24.2rem 24.2rem 24.2rem 24.2rem;
gap: 5.6rem;

@media screen and (max-width: 1024px) {
	grid-template-columns: 33.1rem 33.1rem;
	column-gap: 16.6rem;
	row-gap: 4.4rem;
}

@media screen and (max-width: 768px) {
	grid-template-columns: 1fr 1fr;
	column-gap: 36px;
	row-gap: 44px;
}

@media screen and (max-width: 480px) {
	grid-template-columns: 1fr;
	row-gap: 44px;
}
}

.listItemTitle {
display: flex;
align-items: center;
font-weight: 600;
color: #095FF0;
gap: 1.6rem;
font-size: 2rem;
line-height: 2.6rem;
margin: 0 0 1.6rem;

@media screen and (max-width: 768px) {
	gap: 16px;
font-size: 20px;
line-height: 26px;
margin: 0 0 16px;
}


@media screen and (max-width: 480px) {
	gap: 12px;
}
}

.listItemTitle span {
	font-size: 4rem;
	line-height: 5.2rem;
	font-weight: 600;
	text-align: left;
	color: #000;

	@media screen and (max-width: 768px) {
		font-size: 40px;
		line-height: 52px;
	}

}

.listItemDesc {
margin: 0;
font-size: 1.8rem;
font-weight: 600;
line-height: 2.9rem;

@media screen and (max-width: 768px) {
	font-size: 18px;
	line-height: 28px;
}
}

.listItem {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		left: -3.4rem;
		width: 0.1rem;
		background: #00000057;

		@media screen and (max-width: 1024px) {
			left: -8.8rem;
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}

.listItem:first-of-type {

	&::before {

		display: none;
	}
}

.listItem:nth-of-type(2n){

	&::after {

		@media screen and (max-width: 1024px) {
			display: none;
		}
	}
}
