.titleAnimationShow {
  animation: titleTransform 0.5s ease-in-out;
}

.firstBlock .titleAnimationShow {
  animation: firstTitleTransform 5s ease-in-out;
}

.firstBlock .titleAnimationShow::before {
  animation: beforeTitleOpacity 5.5s ease-in-out;
}

.linesAnimation {
  position: relative;
}

.linesAnimation:after,
.linesAnimation:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0.5rem;
  left: 3.8rem;
}

.linesAnimation:before {
  top: -6.6rem;
}

.titleAnimationShow::before {
  animation: beforeTitleOpacity 1.5s ease-in-out;
}

@media screen and (min-width: 520px) {
  .titleAnimationShow ~ .linesAnimationWrapper .linesAnimation::before {
    animation: lineHeight 1s ease-in-out;
    height: 10rem;
  }

  .firstBlock
    .titleAnimationShow
    ~ .linesAnimationWrapper
    .linesAnimation::before {
    animation: firstLineHeight 6s ease-in-out;
  }
}

@media screen and (max-width: 520px) {
  .linesAnimation:before {
    display: none;
  }

  .linesAnimationShow::after {
    height: 72px;
    left: 80px !important;
    animation: bottomLineHeightMobile 1.5s ease-in-out;
    bottom: -64px;
    width: 5px;
  }

  .linesAnimationShowLast::after {
    height: 90px;
    bottom: -90px;
    animation: bottomLineHeightMobileLast 1.5s ease-in-out;
  }

  .titleAnimationShow:after {
    content: '';
    width: 5px;
    position: absolute;
    background: #fff;
    animation: lineHeightMobile 1.5s ease-in-out;
    height: 40px;
    top: 32px;
    left: 10px;
  }

  .firstBlock .titleAnimationShow {
    animation: firstTitleTransform 1.5s ease-in-out;
  }

  .firstBlock .titleAnimationShow::before {
    animation: beforeTitleOpacity 2s ease-in-out;
  }

  .firstBlock .titleAnimationShow:after {
    animation: firstLineHeightMobile 2.5s ease-in-out;
  }
}

@keyframes lineHeight {
  0% {
    height: 0;
  }

  100% {
    height: 10rem;
  }
}

@keyframes firstLineHeight {
  0% {
    height: 0;
  }

  80% {
    height: 0;
  }

  100% {
    height: 10rem;
  }
}

@keyframes firstLineHeightMobile {
  0% {
    height: 0;
  }

  80% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}

@keyframes lineHeightMobile {
  0% {
    height: 0;
  }

  60% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}

@keyframes bottomLineHeight {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -13.8rem;
  }
}

@keyframes bottomLineHeightMobile {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -64px;
  }
}

@keyframes bottomLineHeightMobileLast {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -90px;
  }
}

@keyframes beforeTitleOpacity {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes titleTransform {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes firstTitleTransform {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  80% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes beforeFirstTitleOpacity {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
