.section {
  margin: 14.2rem auto 0;
  position: relative;

  &:first-of-type {
    margin: 13.2rem auto 0;
  }

  @media screen and (max-width: 520px) {
    margin: 68px 0 0 !important;
  }
}

.title {
  margin: 0 0 7rem;
  color: #fff;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  margin-left: 75rem;

  @media screen and (max-width: 520px) {
    margin: 0 0 40px 70px !important;
    font-size: 22px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 16.2rem;
    height: 0.5rem;
    bottom: -0.3rem;
    background: #ffffff;

    @media screen and (max-width: 520px) {
      width: calc(100% - 86px);
      height: 5px;
      bottom: -7px;
      left: 86px !important;
    }
  }
}

.firstTitle {
  margin-left: 75rem;

  @media screen and (max-width: 1024px) {
    margin-left: 70rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 62rem;
  }

  &:before {
    left: 12rem;
  }
}

.secondTitle {
  margin-left: 30rem;

  @media screen and (max-width: 1024px) {
    margin-left: 25rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 17rem;
  }

  @media screen and (max-width: 340px) {
    &:after {
      top: 60px;
    }
  }

  &:before {
    left: -4.5rem;
  }
}

.thirdTitle {
  margin-left: 68rem;

  @media screen and (max-width: 1024px) {
    margin-left: 58rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 50rem;
  }

  @media screen and (max-width: 375px) {
    &:after {
      top: 60px;
    }
  }

  &:before {
    left: 42rem;
  }
}

.fourTitle {
  margin-left: 44rem;

  @media screen and (max-width: 1024px) {
    margin-left: 39rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 31rem;
  }

  &:before {
    left: -4.4rem;
  }
}

.fiveTitle {
  margin-left: 72rem;

  &:before {
    left: 17.6rem;
  }

  @media screen and (max-width: 1024px) {
    margin-left: 67rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 59rem;
  }
}

.sectionContent {
  width: fit-content;
  margin: 0 auto;
  display: flex;

  @media screen and (max-width: 520px) {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
}

.wrapperImage {
  border-radius: 2.5rem 0px 0px 2.5rem;
  background: linear-gradient(
    0deg,
    rgba(155, 74, 210, 0.5) 0%,
    rgba(121, 72, 223, 0.5) 116.6%
  );
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;

  @media screen and (max-width: 520px) {
    border-radius: 16px 0px 0px 16px;
  }
}

.wrapperFirstImage {
  @media screen and (max-width: 520px) {
    width: 100% !important;
    padding-top: 36px;
    margin: 0 0 -6px;
  }
}

.wrapperSecondImage {
  padding: 1.8rem 2.6rem 3.7rem 2.6rem;

  @media screen and (max-width: 520px) {
    padding: 22px 20px 30px 24px;
    margin: 0 0 -15px;
  }
}

.wrapperThirdImage {
  padding: 2.6rem 12.2rem 2rem 6.6rem;

  @media screen and (max-width: 520px) {
    padding: 16px 74px 12px 40px;
    margin: 0 0 -15px;
  }
}

.wrapperFiveImage {
  padding: 2.9rem 7.1rem 0 4.3rem;

  @media screen and (max-width: 520px) {
    padding: 22px 42px 16px 26px;
    margin: 0 0 -10px;
  }
}

.image {
  @media screen and (max-width: 520px) {
    width: 100% !important;
    height: auto !important;
  }
}

.firstImage {
  width: 55rem;
  height: 47rem;
  left: 0;
  position: relative;
  bottom: -0.4rem;

  @media screen and (max-width: 520px) {
    bottom: 0;
  }
}

.secondImage {
  width: 49.7rem;
  height: 41.5rem;
  left: 2.7rem;
  top: 1.8rem;

  @media screen and (max-width: 520px) {
    width: 90% !important;
    margin: 0 auto;
    display: block;
  }
}

.thirdImage {
  width: 36.2rem;
  height: 42.3rem;
  top: 2.7rem;
  left: 6.6rem;

  @media screen and (max-width: 520px) {
    width: 100% !important;
  }
}

.fourImage {
  width: 55rem;
  height: 47rem;
  position: relative;
  bottom: -0.3rem;
  left: 0;

  @media screen and (max-width: 520px) {
    bottom: 0;
  }
}

.fiveImage {
  width: 43.6rem;
  height: 44.1rem;
}
