.button {
	border: none;
	box-shadow: none;
	background: #0D0D0D;
padding: 1.8rem 5.2rem;
color: #fff;
font-size: 1.8rem;
line-height: 2.7rem;
text-align: center;
border-radius: 1rem;

@media screen and (max-width: 768px) {
	font-size: 18px;
	line-height: 27px;
	padding: 18px 52px;
	border-radius: 10px;
}
}
