.text {
  max-width: 52rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 18rem 0;
}

.textMarginLeft {
  margin: 0 18.5rem 0 auto;
}

.textMarginRight {
  margin: 0 auto 0 18.5rem;
}

@media screen and (max-width: 680px) {
  .text {
    max-width: 100%;
    font-size: 15px;
    line-height: 26px;
    padding: 100px 0;
  }

  .textMarginLeft {
    margin: 0 24px 0 78px;
  }

  .textMarginRight {
    margin: 0 78px 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .text {
    padding: 80px 0;
  }
}
