.leftCol {
	margin-left: 4rem;
	display: flex;
	flex-direction: column;
	gap: 8.8rem;

	@media screen and (max-width: 1024px) {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		gap: 3.2rem;
		margin-left: 0;
		margin-bottom: 6rem;
	}

	@media screen and (max-width: 768px) {
		gap: 30px;
		margin-bottom: 50px;
	}

	@media screen and (max-width: 600px) {
		grid-template-columns: 1fr;
		margin-bottom: 30px;
	}
}

.leftIcon {
	width: 41rem;
	height: 60.4rem;

	@media screen and (max-width: 1024px) {
		width: 100%;
		height: auto;
		order: 2;
	}
}

.rightCol {
margin: 11rem 0 0;

@media screen and (max-width: 1024px) {
	margin: 0;
}
}

.image {
	display: block;
margin: 6rem 0;
width: 73.6rem;
height: 40.4rem;

@media screen and (max-width: 1024px) {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	margin: 0 0 50px;
}

@media screen and (max-width: 480px) {
	left: -30px;
	position: relative;
	width: calc(100% + 60px);
	margin: 0 0 30px;
}
}
