.title {
max-width: 77rem;
margin: 0 0 3rem;

@media screen and (max-width: 768px) {
	max-width: 100%;
	margin: 0 0 30px;
}
}

.subtitle {
margin:  0 0 5rem;
font-size: 3.2rem;
line-height: 5.28rem;
color: #093C8D;
font-weight: 400;
text-align: left;

@media screen and (max-width: 768px) {
	margin:  0 0 50px;
font-size: 20px;
line-height: 32px;
}
}

.list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 3rem;
row-gap: 5rem;
padding: 0;
margin: 0;
list-style-type: none;

@media screen and (max-width: 768px) {
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	row-gap: 26px;
}

@media screen and (max-width: 540px) {
	grid-template-columns: 1fr;
}
}

.card {
min-height: 35.2rem;
padding: 3.6rem 4rem 4.2rem;
position: relative;
height: auto;
background: #F1F4FF;
z-index: 3;

border-radius: 1.6rem;

@media screen and (max-width: 1024px) {
	min-height: 44.3rem;
	padding: 3.6rem 2.4rem 4.2rem;
}

@media screen and (max-width: 768px) {
	height: auto;
	min-height: 389px;
	padding: 36px 24px 36px;
	border-radius: 16px;
}

@media screen and (max-width: 480px) {
	padding: 36px 24px 66px;
}

&:after {
content: '';
position: absolute;
width: 2rem;
height: 2rem;
bottom: 2rem;
right: 2rem;
background: url('/main/cards/bottom-figure-card.svg') no-repeat center;
background-size: contain;

@media screen and (max-width: 768px) {
	width: 20px;
height: 20px;
bottom: 20px;
right: 20px;
}
}
}

.cardVisibleContent {
display: flex;
flex-direction: column;
gap: 2.6rem;
// z-index: 2;
// position: relative;

@media screen and (max-width: 768px) {
	gap: 28px;
}
}

.cardVisibleContentHeader {
	display: grid;
	grid-template-columns: 3.6rem 1fr;
	gap: 2.6rem;

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
		gap: 0.8rem;
	}
}

.cardIcon {
width: 3.6rem;
height: 3.6rem;
background: url('/main/cards/figure-card.svg') no-repeat center;
background-size: contain;

@media screen and (max-width: 768px) {
	width: 36px;
	height: 36px;
}
}

.cardTitle {
margin: 0;
font-size: 2.4rem;
font-weight: 600;
line-height: 3.25rem;
text-align: left;

@media screen and (max-width: 768px) {
	font-size: 24px;
	line-height: 30px;
}
}

.cardDesc {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.52rem;
	text-align: left;
	color: #000;

	@media screen and (max-width: 768px) {
		font-size: 18px;
		line-height: 24px;
	}
}

.cardHiddenContent {
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	text-align: left;
	margin: 0;
	color: #fff;

	@media screen and (max-width: 768px) {
		font-size: 16px;
		line-height: 18px;
	}
}

.cardHiddenContentWrapper {
	min-height: 100%;
	z-index: 1;
	position: absolute;
	border-radius: 1.6rem;
	background: linear-gradient(208.78deg, #90BAFF 3.64%, #5C8EE0 84.35%);
	padding: 2.8rem 3rem 2.8rem 2rem;
	left: 0;
	opacity: 0;
	top: 100%;
	transition: 1s ease-in-out all;


	@media screen and (max-width: 768px) {
		border-radius: 16px;
		padding: 28px 30px 28px 20px;
	}
}

.cardVisibleContent:hover ~ .cardHiddenContentWrapper {
	opacity: 1;
	top: 0;
}

.cardHiddenContentWrapperActive:hover {
		opacity: 1;
	top: 0;
}
