.image {
  width: 73.6rem;
height: 40.4rem;
  display: block;
  margin: 0 0 6rem;
  position: relative;

  @media screen and (max-width: 1024px) {
	left: -3rem;
	width: calc(100% + 6rem);
  }


  @media screen and (max-width: 768px) {
    margin: 0 0 50px;
	left: -30px;
	width: calc(100% + 60px);
  }
}

.list {
	height: fit-content;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 4.2rem;
  width: 43.4rem;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    gap: 3rem;
	margin: 0;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 156px 156px;
    row-gap: 30px;
    column-gap: 60px;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.listItemTitle {
  font-size: 7rem;
  line-height: 9.8rem;
  font-weight: 900;
  text-align: left;
  color: #e30613;

  @media screen and (max-width: 768px) {
	font-size: 70px;
	line-height: 98px;
  }

  @media screen and (max-width: 480px) {
    font-size: 55px;
	line-height: 78px;
  }
}

.listItemDesc {
  margin: 0.8rem 0 0;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  color: #000000;

  @media screen and (max-width: 768px) {
	margin: 8px 0 0;
	font-size: 18px;
	line-height: 26px;
  }

  @media screen and (max-width: 480px) {
	font-size: 15px;
	line-height: 21px;
  }
}
