.image {
width: 50.4rem;
height: 38.6rem;
margin-top: 3rem;

@media screen and (max-width: 1024px) {
	order: 2;
	width: 57rem;
height: 44rem;
margin-top: 10rem;
}

@media screen and (max-width: 768px) {
	margin: 0 auto;
	margin-top: 50px;
	width: 100%;
	max-width: 572px;
	height: auto;
}

@media screen and (max-width: 480px) {
	margin-top: 30px;
	position: relative;
	left: -30px;
	width: calc(100% + 60px);
	max-width: 100%;
	height: auto;
}
}

.bottom {
	font-size: 1.4rem;
	margin: 2.4rem 0 0;
	line-height: 2rem;
	font-weight: 400;
	text-align: left;
	color: #00000080;

@media screen and (max-width: 768px) {
	font-size: 14px;
	margin: 20px 0 0;
	line-height: 20px;
}
}
