* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  min-width: 350px;
}

html {
  background: #2b2d31;
  font-size: 0.6945vw;
}

a {
  color: inherit;
}

a:hover {
  transition: 0.3s ease-in-out color;
  color: inherit !important;
}

.tooltip {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.5);
}

.element-animation {
  display: block;
  opacity: 0;
  transform: translateY(200px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

.mySwiper {
  height: 100%;
  overflow: visible;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide-active {
  margin: 0 0 0 24px !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  height: 336px !important;
}

.swiper-slide-prev {
  margin-right: -12px;
  margin-left: 12px;
}

.swiper-slide-next {
  margin-left: 12px;
}

.swiper-slide-next::before,
.swiper-slide-prev::before {
  content: '';
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: #00000052;
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-pagination-bullet-active {
  display: block;
}

@media screen and (max-width: 680px) {
  .tooltip {
    font-size: 13px;
    line-height: 20px;
  }

  .element-animation {
    display: block;
    opacity: 0;
    transform: translateY(100px);
  }
}
