.wrapper {
	max-width: 128rem;
	border-left: 0.1rem solid #0000002B;
	border-right: 0.1rem solid #0000002B;
	margin: 0 auto;
	padding-right: 2.4rem;
	box-sizing: content-box;

	@media screen and (max-width: 1024px) {
		max-width: 80.4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@media screen and (max-width: 768px) {
		padding-left: 30px;
		padding-right: 30px;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
	}
}
