.image {
padding: 3rem 0 6rem;
width: 73.6rem;
height: 40.4rem;
box-sizing: content-box;

@media screen and (max-width: 1024px) {
	padding: 3rem 0 6rem;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	padding: 20px 0 50px;
}

@media screen and (max-width: 480px) {
	padding: 10px 0 30px;
	position: relative;
	left: -30px;
	width: calc(100% + 60px);
}
}

.descriptionComment {
	margin-left: 4rem;

	@media screen and (max-width: 1024px) {
		margin: 0;
	}
}
