.image {
	width: 44.4rem;
	height: 66.4rem;
	margin-left: 3rem;

	@media screen and (max-width: 1024px) {
		grid-row: 2;
		width: 49rem;
		height: 73.4rem;
		display: block;
		margin: 0;
	}

	@media screen and (max-width: 768px) {
		max-width: 400px;
		height: auto;
		width: 100%;
	}

	@media screen and (max-width: 480px) {
		position: relative;
		left: -30px;
		width: calc(100% + 60px);
		max-width: calc(100% + 60px);
	}
}
