.image {
	width: 50.4rem;
	height: 32.4rem;

	@media screen and (max-width: 1024px) {
		grid-row: 2;
		width: 63.2rem;
		height: 40.6rem;
		display: block;
		margin: 0 0 -3rem 0;
	}

	@media screen and (max-width: 768px) {
		max-width: 632px;
		height: auto;
		margin: 0;
		width: 100%;
	}

	@media screen and (max-width: 480px) {
		position: relative;
		left: -30px;
		width: calc(100% + 60px);
	}
}
