.wrapper {
	padding-left: 5.8rem;
	border-left: 0.1rem solid #CFCFCF;
	width: 35rem;
	box-sizing: content-box;

	@media screen and (max-width: 768px) {
		border: none !important;
	}

	@media screen and (max-width: 768px) {
		width: auto;
		max-width: 350px;
		padding-left: 0;
	}
}


.wrapperRigth {
	padding-left: 0;
	border-left: none;
	padding-right: 5.8rem;
	border-right: 0.1rem solid #CFCFCF;

	@media screen and (max-width: 768px) {
		width: auto;
		max-width: 350px;
		padding-right: 0;
	}
}

.header {
	display: flex;
	align-items: center;
	color: #095FF0;

}

.pretext {
	font-size: 2.8rem;
	line-height: 3.6rem;
	font-weight: 600;
	text-align: left;

	@media screen and (max-width: 768px) {
		font-size: 28px;
		line-height: 36px;
	}
}

.title {
	font-size: 15.2rem;
	line-height: 19.6rem;
	font-weight: 400;
	text-align: left;

	@media screen and (max-width: 768px) {
		font-size: 152px;
		line-height: 196px;
	}

	@media screen and (max-width: 480px) {
		font-size: 140px;
		line-height: 180px;
	}
}

.desc {
margin: -0.5rem 0 0;
font-size: 2.2rem;
line-height: 3.4rem;
font-weight: 400;
text-align: left;
color: #000;

@media screen and (max-width: 768px) {
	margin: -5px 0 0;
font-size: 22px;
line-height: 34px;
}
}


.subDesc {
margin: 2rem 0 0;
font-size: 1.6rem;
line-height: 2.8rem;
font-weight: 400;
text-align: left;

@media screen and (max-width: 768px) {
	margin: 20px 0 0;
font-size: 16px;
line-height: 28px;
}

a {
	color: #095FF0;
	text-decoration: underline;
}
}
