.previewWrapper {
  min-width: 100%;
  background: url('/preview/preview-img.png') no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    bottom: -2rem;
    height: 86rem;
    width: 100%;
    background: linear-gradient(
      0deg,
      #2b2d31 0%,
      rgba(40, 67, 111, 0.8) 46.35%,
      rgba(73, 92, 131, 0.6) 67.71%,
      rgba(164, 160, 186, 0) 100%
    );
  }
}

.preview {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 420px) {
    background-position-x: -315px;
  }
}

.logo {
  margin: 5.4rem 0 0 7.4rem;
  width: 11.1rem;
  height: 3.8rem;
}

.previewSlogan {
  margin: 8.8rem 0 0 18.4rem;
  width: 40rem;
  height: 38.2rem;
}

.buttonDown {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  margin: auto auto 4.2rem;
  background: url('/preview/button-down.svg') no-repeat;
  background-size: contain;
}

.leed {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.48px;
  max-width: 63.8rem;
  color: #fff;
  margin: 0 0 0 24.8rem;
  padding: 3rem 0 16rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 680px) {
  .leed {
    max-width: 100%;
    margin: 0 24px;
    padding: 76px 0 0;
    font-size: 19px;
    line-height: 36px;
  }

  .logo {
    margin: 40px 0 0 40px;
    width: 111px;
    height: 38px;
  }

  .buttonDown {
    width: 54px;
    height: 54px;
    margin: 0 auto 32px;
    position: relative;
    z-index: 2;
  }

  .previewSlogan {
    width: 280px;
    height: 268px;
    margin: auto auto 120px;
    position: relative;
    z-index: 2;
  }

  .previewWrapper {
    background: none;

    &::before {
      display: none;
    }
  }

  .preview {
    background: url('/preview/preview-img.png') no-repeat;
    background-size: cover;
    position: relative;
    background-position-x: -115px;

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      height: 607px;
      width: 100%;
      background: linear-gradient(0, #2b2d31 15%, rgba(43, 45, 49, 0) 100%);
      z-index: 1;
    }
  }
}

@media screen and (max-width: 420px) {
  .preview {
    background-position-x: -315px;
  }
}
