.wrapperFirst {
margin: 15rem 0;

@media screen and (max-width: 768px) {
	margin: 100px 0;
}

@media screen and (max-width: 480px) {
	margin: 24px 0 48px;
}
}

.firstContent {
display: flex;
align-items: center;
gap: 20rem;

@media screen and (max-width: 1024px) {
	gap: 10rem;
}

@media screen and (max-width: 768px) {
	flex-direction: column;
	gap: 50px;
	align-items: flex-start;
}

@media screen and (max-width: 480px) {
	gap: 30px;
}
}

.firstDesc {
	max-width: 57rem;

	@media screen and (max-width: 1024px) {
		max-width: 47rem;
	}

	@media screen and (max-width: 768px) {
		max-width: 548px;
	}
}

.whiteWrapper {
margin: 10rem 0;
overflow: hidden;

@media screen and (max-width: 768px) {
	margin: 100px 0;
}

@media screen and (max-width: 480px) {
	margin: 50px 0;
}
}
