.firstBlock {
padding-top: 12rem;
padding-bottom: 6rem;

@media screen and (max-width: 1024px) {
	padding-top: 12rem;
	padding-bottom: 10rem;
	gap: 6rem !important;
}

@media screen and (max-width: 768px) {
	padding-top: 100px;
	padding-bottom: 100px;
	gap: 50px !important;
}

@media screen and (max-width: 480px) {
	padding-top: 50px;
	padding-bottom: 50px;
}
}

.firtThirdBlock {
padding-bottom: 12rem;

@media screen and (max-width: 768px) {
padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
	padding-bottom: 50px;
	}
}

.thirdBlock {
	padding-bottom: 6rem;

	@media screen and (max-width: 1024px) {
		padding-bottom: 10rem;
	}

@media screen and (max-width: 768px) {
	padding-bottom: 50px;
}
}

.twelveBlock {
	padding-left: 4rem;
	max-width: 124rem;
	align-items: flex-end;
	padding-top: 6rem;
	padding-bottom: 10rem;

	@media screen and (max-width: 1024px) {
		max-width: 79.4rem;
		gap: 10rem !important;
		display: flex !important;
		flex-direction: column-reverse !important;
		align-items: flex-start !important;
	}

	@media screen and (max-width: 768px) {
		padding-left: 30px;
		gap: 50px !important;
		padding-top: 50px;
		padding-bottom: 100px;
	}

	@media screen and (max-width: 480px) {
		padding-left: 30px;
		gap: 30px !important;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.eightBlock, .tenBlock, .thirteenthBlock, .fifteenthBlock {
	padding-top: 10rem;
padding-bottom: 6rem;

@media screen and (max-width: 768px) {
	padding-top: 100px;
	padding-bottom: 42px;
}

@media screen and (max-width: 480px) {
	padding-top: 50px;
}
}

.tenBlock {

	@media screen and (max-width: 768px) {
		padding-top: 20px;
padding-bottom: 50px;

@media screen and (max-width: 480px) {
	padding-top: 10px;
padding-bottom: 30px;
}
	}
}

.fifteenthBlock {
	@media screen and (max-width: 768px) {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	@media screen and (max-width: 480px) {
		padding-top: 30px;
		padding-bottom: 50px;
	}
}

.secondBlock {
	padding-top: 12rem;
padding-bottom: 12rem;

@media screen and (max-width: 768px) {
	padding-top: 100px;
	padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
	padding-top: 50px;
	padding-bottom: 50px;
}
}

.content {
	position: relative;
	overflow: hidden;


	&:before {
		content: '';
		position: absolute;
		border-left: 0.1rem solid #0000002B;
left: 58.4rem;
top: 0;
height: 100%;

@media screen and (max-width: 1024px) {
	display: none;
}
	}
}

.wrapper, .sixBlock {
display: grid;
grid-template-columns: 1fr 69.6rem;
padding-right: 4rem;
gap: 4rem;

@media screen and (max-width: 1024px) {
	grid-template-columns: 1fr;
	gap: 0;
}

@media screen and (max-width: 768px) {
	padding-right: 30px;
}
}

.fourBlock {
	gap: 7rem;

	@media screen and (max-width: 1024px) {
		gap: 10rem;
	}

	@media screen and (max-width: 768px) {
		gap: 50px;
	}
}

.sixBlock {
	display: block !important;
	max-width: 132rem;
	padding-right: 0;

	@media screen and (max-width: 1024px) {
        max-width: 81.4rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@media screen and (max-width: 768px) {
        max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.sevenBlock {
	padding-top: 14rem;
	padding-bottom: 14rem;

@media screen and (max-width: 1024px) {
	padding-top: 12rem;
	padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
	padding-bottom: 42px;
	padding-top: 50px;
}
}

.nineBlock  {
	@media screen and (max-width: 1024px) {
		grid-template-columns: 36.2rem 1fr;
gap: 0;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
gap: 40px;
	}

	@media screen and (max-width: 480px) {
gap: 30px;
	}
}

.seventeenBlock {
padding-top: 10rem;
padding-bottom: 10rem;

@media screen and (max-width: 768px) {
	padding-top: 100px;
padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
	padding-top: 50px;
padding-bottom: 20px;
}
}

.eighteenBlock {
padding-bottom: 11rem;

@media screen and (max-width: 768px) {
	padding-bottom: 100px;
}
}
