.firstWrapper {
margin-top: 10rem;

@media screen and (max-width: 768px) {
	margin-top: 60px;
}
}

.wrapper {
margin: 13rem 0;

@media screen and (max-width: 768px) {
	margin: 100px 0;
}

@media screen and (max-width: 480px) {
	margin: 50px 0;
}
}
