.background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.wrapper {
  position: relative;
  padding: 0 0 27rem;

  @media screen and (max-width: 720px) {
    padding: 0 0 50px;
  }
}

.bannerBulgakov {
  margin: -23rem 0 0;

  @media screen and (max-width: 720px) {
    margin: -30px 0 0;
  }
}

.bannerMinaev {
  margin: -8rem 0 0;

  @media screen and (max-width: 720px) {
    margin: -98px 0 0;
  }
}

.bannerSerova {
  margin: -8.2rem 0 0;

  @media screen and (max-width: 720px) {
    margin: -162px 0 0;
  }
}
