.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
gap: 4rem;
width: 101rem;

margin-left: -24.8rem;

@media screen and (max-width: 1024px) {
	gap: 3rem;
	width: calc(100% + 6rem);
	margin-left: -3rem;
}

@media screen and (max-width: 768px) {
	gap: 30px;
	width: 100%;
	margin-left: 0;
}

@media screen and (max-width: 600px) {
	gap: 20px;
	grid-template-columns: 1fr;
}
}


.item, .itemLast {
min-height: 44rem;

@media screen and (max-width: 768px) {
	min-height: 400px;
}
}

.item {
display: flex;
flex-direction: column;
gap: 2.4rem;
padding: 4rem;
background: #22313B;
position: relative;

@media screen and (max-width: 768px) {
	gap: 24px;
	padding: 40px 30px 30px;
}

&::after {
	content: '';
	position: absolute;
	width: calc(100% + 0.8rem);
	height: calc(100% + 0.8rem);
	left: -0.4rem;
	top: -0.4rem;
	background: url('/main/causesDeficiency/card-background.svg') no-repeat center;
	background-size: cover;

	@media screen and (max-width: 768px) {
		width: calc(100% + 8px);
		height: calc(100% + 8px);
		left: -0.4px;
		top: -0.4px;
	}
}
}

.text {
	color: #FFFFFFCC;
	margin: 0;
	font-size: 2.2rem;
	line-height: 3rem;
	font-weight: 300;
	text-align: left;


	@media screen and (max-width: 768px) {
		font-size: 18px;
		line-height: 26px;
	}

	@media screen and (max-width: 480px) {
		font-size: 16px;
		line-height: 22px;
	}
}

.icon {
	width: 6.4rem;
	height: 6.4rem;
	background: url('/main/causesDeficiency/figure.svg') no-repeat center;
	background-size: contain;

	@media screen and (max-width: 768px) {
		width: 64px;
	height: 64px;
	}
}

.itemLast {
	width: 100%;
	background: url('/main/causesDeficiency/last-card-background.jpg') no-repeat center;
	background-size: cover;
}
