.wrapper {
  padding: 8rem 0 12rem;
  background: #f7f6f6;

  @media screen and (max-width: 720px) {
    padding: 30px 0 110px;
  }
}

.wrapperDesc {
  margin: 0 0 4rem;
  max-width: 52.2rem;

  @media screen and (max-width: 720px) {
    margin: 0 0 22px;
    max-width: 100%;
  }
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.4rem;

  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
