.wrapper {
  width: 111rem;
  margin: 14rem auto 11.6rem;
  position: relative;
  top: -0.3rem;
  z-index: 1;

  @media screen and (max-width: 520px) {
    margin: 90px 16px 0;
    width: calc(100% - 32px);
  }
}

.title {
  padding: 3.7rem 0;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0.5rem solid #fff;

  @media screen and (max-width: 520px) {
    border: 5px solid #fff;
    padding: 24px 38px;
    font-size: 16px;
  }
}

.title span {
  animation: titleTransform 1s ease-in-out;
  display: block;

  @keyframes titleTransform {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  @media screen and (max-width) {
    gap: 20px;
  }
}

.contentWrapper {
  padding: 8.4rem 25.6rem 12.4rem 9rem;
  gap: 6.6rem;
  grid-template-columns: 48rem 21.6rem;
  border: 0.5rem solid #fff;
  display: grid;
  border-top: none;

  @media screen and (max-width: 520px) {
    gap: 16px;
    grid-template-columns: 1fr;
    border: 5px solid #fff;
    padding: 42px 24px 52px;
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
  }
}

.contentItem {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  margin: 0;

  @media screen and (max-width: 520px) {
    font-size: 12px;
  }
}

.link {
  padding: 1.4rem 9.2rem;
  bottom: -2.4rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(90deg, #7948df 0%, #9b4ad2 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s ease-in-out background;

  &:hover {
    background: linear-gradient(90deg, #7948df 0%, #9b4ad2 100%);
  }

  &:focus {
    background: #6645aa;
  }

  @media screen and (max-width: 520px) {
    padding: 14px 98px;
    bottom: -24px;
    font-size: 18px;
    border-radius: 5px;
  }
}

.images {
  position: relative;
}

.image {
  border-radius: 0.5rem;
  width: 21.6rem;
  height: 16.3rem;

  @media screen and (max-width: 520px) {
    border-radius: 5px;
    width: 200px;
    height: 149px;
  }

  @media screen and (max-width: 420px) {
    width: 140px;
    height: 109px;
  }
}

.imageWoman {
  position: absolute;
  top: -2.7rem;
  left: 15.4rem;

  @media screen and (max-width: 520px) {
    top: -27px;
    left: 140px;
  }

  @media screen and (max-width: 420px) {
    top: -17px;
    left: 100px;
  }
}
