.wrapper {
  padding: 6.4rem 7.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  box-sizing: border-box;
  background: #141414;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.list {
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.colored {
  color: #fff;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialButton {
  background: transparent;
  box-shadow: none;
  padding: 0;
  border: 0;
  width: fit-content;
  cursor: pointer;
}

.socialIcon {
  width: 4rem;
  height: 4rem;
}

.archive {
  background: #b6815d;
  width: fit-content;
  padding: 0.4rem 1rem;
  margin: 0.4rem 0 0;
  color: black;
}

@media screen and (max-width: 680px) {
  .wrapper {
    padding: 48px 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    font-size: 14px;
    line-height: 20px;
  }

  .archive {
    padding: 4px 10px;
    margin: 0;
  }

  .socialIcon {
    width: 40px;
    height: 40px;
  }

  .social {
    flex-direction: column;
    gap: 24px;
  }
}
