.swiperItemVisibleShow {
  animation: 0.6s ease-in-out swiperItemsAnimation;
  animation-fill-mode: normal;
}

.swiperItemAnimation {
  display: none;
}

.sliderActive {
  opacity: 0;
  display: block;
}

.swiperItemVisibleShow.sliderActive {
  opacity: 1;
}

.swiperItemVisibleShow.swiperItemVisible_2 {
  animation: 1.2s ease-in-out swiperItemsAnimation2;
}

.swiperItemVisibleShow.swiperItemVisible_3 {
  animation: 1.8s ease-in-out swiperItemsAnimation3;
}

.swiperItemVisibleShow.swiperItemVisible_4 {
  animation: 2.4s ease-in-out swiperItemsAnimation4;
}

.swiperItemVisibleShow.swiperItemVisible_5 {
  animation: 3s ease-in-out swiperItemsAnimation5;
}

@keyframes swiperItemsAnimation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swiperItemsAnimation2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  60% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swiperItemsAnimation3 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  60% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swiperItemsAnimation4 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  60% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swiperItemsAnimation5 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  60% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
