.content {
  width: 60rem;
  position: relative;
  top: 3.2rem;
  margin: 0 0 0 -5.4rem;
  border-radius: 0px 2.5rem 2.5rem 0px;
  background: #fafafa;
  padding: 3.3rem 4.8rem 3.8rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  height: fit-content;

  @media screen and (max-width: 520px) {
    margin: 60px 0 0;
  }
}

.title {
  color: #151515;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 0.5rem;

  @media screen and (max-width: 520px) {
    margin: 0 0 0 70px;
    font-size: 22px;
    max-width: 235px;
  }
}

.description {
  color: #151515;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

.paginationWrapper {
  margin-top: 0.5rem;
  display: flex;
  margin: 0 auto;
  gap: 2.5rem;
}

.button {
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #3e2497;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  background: url('/Slider/svg/arrow.svg') no-repeat center;
  background-size: 1rem 2rem;
  background-position-x: 45%;
  background-position-y: 43%;
}

.buttonNext {
  transform: rotate(180deg);
  background-position-x: 40%;
  background-position-y: 53%;
}

.pagination {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.paginationItem {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 0.65rem;
  box-sizing: border-box;
  opacity: 0.4;
  background: #3e2497;
  border-radius: 50%;
}

.paginationItemActive {
  opacity: 1;
}
