.wrapper {
	padding: 21rem 0 24rem;
	background-image: url('/trendy/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	@media screen and (max-width: 1024px) {
		background-position-x: -22rem;
	}

	@media screen and (max-width: 768px) {
		background-position-x: 0;
				background-image: url('/trendy/background-md.jpg');
		padding: 120px 0 140px;
	}

	@media screen and (max-width: 480px) {
				background-image: url('/trendy/background-mini.jpg');
		padding: 120px 0 80px;
	}
	}

	.content {
		position: relative;
		z-index: 1;
		max-width: 60rem;
		color: #fff;

		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	.title {
		font-size: 5rem;
		font-weight: 400;
		line-height: 5.2rem;
		text-align: left;
		margin: 0 0 5rem;

		span {
			font-weight: 600px;
		}

		@media screen and (max-width: 768px) {
			margin: 0 0 30px;
			max-width: 420px;
			font-size: 50px;
			line-height: 52px;
		}

		@media screen and (max-width: 480px) {
			font-size: 30px;
			line-height: 32px;
		}
	}

	.desc {
		font-size: 2.6rem;
		font-weight: 400;
		line-height: 3.6rem;
		text-align: left;
margin: 0;

@media screen and (max-width: 768px) {
	font-size: 20px;
	line-height: 28px;
}
	}

	.images {
		@media screen and (max-width: 768px) {
			display: flex;
			justify-content: center;
margin: 60px auto 0;
		}

		@media screen and (max-width: 480px) {
			margin: 40px auto 0;
		}
	}


	.imageFirst, .imageSecond {
		position: absolute;
		z-index: 2;

		@media screen and (max-width: 768px) {
			position: relative;
		}
	}

	.imageFirst {
		top: 46rem;
		right: 42.3rem;

		@media screen and (max-width: 1024px) {
			top: 57rem;
			right: 33rem;
		}

		@media screen and (max-width: 768px) {
			top: 136px;
			right: -20px;
		}

		img {
		width: 21.6rem;
		height: 20.2rem;

		@media screen and (max-width: 1024px) {
			width: 20rem;
			height: 18.8rem;
			object-fit: contain;
		}

		@media screen and (max-width: 768px) {
			width: 269px;
			height: 270px;
		}

		@media screen and (max-width: 580px) {
			width: 176px;
			height: 160px;
		}

		@media screen and (max-width: 350px) {
			width: 156px;
			height: 130px;
		}
		}
			}

	.imageSecond {
		top: 17.2rem;
		right: 10.8rem;

		@media screen and (max-width: 1024px) {
			top: 33.2rem;
		right: 3rem;
		}

		@media screen and (max-width: 768px) {
			top: 0px;
			right: 30px;
		}

		img {
			height: 38.6rem;
width: 39rem;

@media screen and (max-width: 1024px) {
	width: 36.2rem;
	height: 35.8rem;
	object-fit: contain;
}


@media screen and (max-width: 768px) {
	width: 362px;
	height: 358px;
}

@media screen and (max-width: 580px) {
	width: 208px;
	height: 208px;
}

@media screen and (max-width: 350px) {
	width: 180px;
	height: 180px;
}
		}
	}
