.footer {
  padding: 6rem 6rem 6rem;
  background: #1a1d2e;
  margin: 12rem 0 0;

  @media screen and (max-width: 768px) {
    padding: 6rem 3rem 6rem;
  }

  @media screen and (max-width: 520px) {
    padding: 36px 16px 50px;
    margin: 80px 0 0;
  }
}

.content {
  margin: 0 auto;
  display: grid;
  align-items: flex-end;
  width: 121rem;
  grid-template-columns: 56rem 10rem 44rem;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    width: 111rem;
    grid-template-columns: 40rem 10rem 44rem;
  }

  @media screen and (max-width: 768px) {
    width: 110rem;
    grid-template-columns: 30rem 10rem 44rem;
  }

  @media screen and (max-width: 520px) {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.infoBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  @media screen and (max-width: 520px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
    order: 1;
  }
}

.iconInfo {
  width: 1.9rem;
  height: 1.9rem;
  background: url('/Footer/infoIcon.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;

  @media screen and (max-width: 520px) {
    display: none;
  }
}

.infoTitle {
  margin: 0;
  color: #979799;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;

  @media screen and (max-width: 520px) {
    color: rgba(118, 119, 129, 0.67);
    text-align: center;
    font-size: 12px;
    margin: 0 0 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.infoContent {
  display: none;
  margin: 0;
  padding: 2.4rem 0 2.4rem 1.85rem;
  width: 40rem;
  box-sizing: border-box;
  color: #767781;
  background: #1a1d2e;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  position: absolute;
  border: 0.1rem solid #767781;
  top: -12rem;
  left: 1rem;
}

.iconInfo:hover ~ .infoContent {
  display: block;
}

.infoContent:hover {
  display: block;
}

.logos {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media screen and (max-width: 520px) {
    margin: 36px auto 0;
    gap: 12px;
    order: 3;
  }
}

.logosVk {
  width: 2.4rem;
  height: 1.3rem;

  @media screen and (max-width: 520px) {
    width: 28px;
    height: 16px;
  }
}

.logosYoutube {
  width: 2.9rem;
  height: 2rem;

  @media screen and (max-width: 520px) {
    width: 29px;
    height: 20px;
  }
}

.develop p {
  margin: 0;
}

.develop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #767781;
  max-width: 44rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;

  @media screen and (max-width: 520px) {
    flex-direction: column-reverse;
    gap: 20px;
    color: rgba(118, 119, 129, 0.67);
    text-align: center;
    line-height: normal;
    font-size: 10px;
    font-weight: 400;
    margin: 0 auto 46px;
    padding: 0 19px;
    max-width: 100%;
  }
}

.developGroup {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.developGroupTitle {
  color: #767781;
  text-align: center;
  font-size: 12px;
  margin: 0 0 2px;
  font-weight: 400;
  line-height: 24px;
}

.developGroupItem {
  color: #9293a0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.developGroupItem span {
  margin: 0 0 10px;
  color: rgba(118, 119, 129, 0.67);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}
