.footer {
padding: 9.6rem 0 2.2rem;
background: #F1F5FE;

@media screen and (max-width: 768px) {
padding: 96px 0 24px;
}

@media screen and (max-width: 480px) {
padding: 60px 0 16px;
}
}

.footerWrapper {
	max-width: 128rem;
	margin: 0 auto;

	@media screen and (max-width: 1024px) {
		max-width: 96.4rem;
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;
			padding: 0 30px
			}
}


.socialWrapper {
margin: 0 auto 4.8rem;

@media screen and (max-width: 768px) {
	margin: 0 auto 48px;
	}
}

.socialIcons {
	justify-content: center;
	display: flex;
gap: 1.6rem;

@media screen and (max-width: 768px) {
	gap: 16px;
	}
}

.socialIcon {
width: 6.6rem;
height: 6.6rem;
cursor: pointer;

@media screen and (max-width: 768px) {
	width: 66px;
	height: 66px;
	}
}

.socialIconVk {
	background: url('/footer/vk.svg') no-repeat center;
	background-size: contain;
}

.socialIconTg {
	background: url('/footer/tg.svg') no-repeat center;
	background-size: contain;
}

.socialText {
display: block;
margin: 2rem auto 0;
font-size: 1.2rem;
line-height: 1.68rem;
font-weight: 400;
text-align: center;
color: #000000;

@media screen and (max-width: 768px) {
	margin: 20px auto 0;
font-size: 12px;
line-height: 16.8px;
	}
}

.development {
	display: block;
font-size: 1.2rem;
line-height: 1.44rem;
font-weight: 400;
text-align: right;
color: #000000;
margin: 0 0 1.6rem;

	@media screen and (max-width: 768px) {
		font-size: 12px;
line-height: 14.4px;
margin: 0 0 16px;
		}
}

.line {
	height: 0.1rem;
	background:  #000000;
	width: 100%;
	margin: 0 0 1.6rem;

	@media screen and (max-width: 768px) {
		height: 1px;
		margin: 0 0 16px;
		}

		@media screen and (max-width: 480px) {
			margin: 0 0 36px;
		}
}

.footerSup {
	position: relative;
	display: grid;
	grid-template-columns: 22.4rem 30rem 21rem;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: 1fr;
	}
}

.worksWrapper {
display: flex;
align-items: center;
font-weight: 400;
gap: 1.6rem;
font-size: 1.4rem;
line-height: 1.96rem;
letter-spacing: 0.02em;


@media screen and (max-width: 768px) {
	gap: 16px;
font-size: 14px;
line-height: 19.6px;
}

@media screen and (max-width: 480px) {
	flex-direction: column;
	gap: 10px;
	align-items: start;
}
}

.worksIcon {
width: 3.2rem;
height: 3.2rem;
cursor: pointer;
background: url('/footer/info.svg') no-repeat center;
background-size: contain;

@media screen and (max-width: 768px) {
	width: 32px;
height: 32px;
}

@media screen and (max-width: 480px) {
	display: none;
}
}

.advertising {
	display: block;
	font-size: 1.2rem;
	line-height: 1.406rem;
	font-weight: 400;
	text-align: center;
	color: #000000AD;

	@media screen and (max-width: 768px) {
		font-size: 12px;
	line-height: 14px;
	margin: 32px auto 0;
	}

	@media screen and (max-width: 480px) {
		text-align: left;
	}
}

.cooperation {
	text-align: right;
font-size: 1.4rem;
line-height: 1.6rem;
font-weight: 400;
text-align: right;

@media screen and (max-width: 768px) {
	font-size: 14px;
line-height: 16px;
}

@media screen and (max-width: 480px) {
	text-align: left;
}
}

.authors {
	display: none;
	position: absolute;
	left: 0;
	top: -9.2rem;
	border-radius: 1.6rem;
width: 40rem;
padding: 1.2rem 2.4rem 1.2rem 1.6rem;
line-height: 1.4rem;
font-size: 1.2rem;
box-sizing: border-box;
font-weight: 400;
text-align: left;
color: #000000;
background: #F1F4FF99;

@media screen and (max-width: 768px) {
	top: -92px;
	border-radius: 16px;
width: 40px;
padding: 12px 24px 12px 16px;
line-height: 14px;
font-size: 12px;
}

@media screen and (max-width: 480px) {
	display: block;
	top: 0;
	position: static;
	right: 0;
	border-radius: 0;
	background: transparent;
	padding: 0;
	max-width: 340px;
	width: 100%;
}

}

.worksIcon:hover ~ .authors {
	display: block;
}
